<div class="container">
    <div class="text-center">
        <h1 class="text-success">RXJS Angular</h1>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-danger" routerLink="/observable">Observable</button>
            <button type="button" class="btn btn-danger" routerLink="/operators">Operators</button>
            <button type="button" class="btn btn-danger" routerLink="/subject">Subject</button>
            <button type="button" class="btn btn-danger" routerLink="/coldVsHot">Cold Vs Hot</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>