<div class="container">
  <div class="row cold">
    <div class="h3 col-12"> Cold Observables(Uni Casting)</div>
    <div class="col-4 border">
        By Default Subscribed value ----->  {{defaultSubscriber}}
    </div>
    <div class="col-4 border" >
      Subscribed After 5 seconds value ----->  {{afterFiveSeconds}}
    </div>
    <div class="col-4 border">
        Subscribed After 10 seconds value ----->  {{afterTenSeconds}}
    </div>
  </div>

  <div class="row hot">
      <div class="h3 col-12"> Hot Observables(Multi Casting)</div>
      <div class="col-4 border">
          By Default Subscribed value ----->  {{defaultSubscriberHot}}
      </div>
      <div class="col-4 border" >
        Subscribed After 5 seconds value ----->  {{afterFiveSecondsHot}}
      </div>
      <div class="col-4 border">
          Subscribed After 10 seconds value ---->  {{afterTenSecondsHot}}
      </div>
    </div>
</div>
